.contact-us {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .contact-title {
    font-size: 2rem;
    font-weight: bold;
    color: #212d45;
    margin-bottom: 20px;
  }
  
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  
  .contact-info {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    text-align: left;
  }
  
  .contact-info p {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
  }
  
  .contact-heading {
    display: block; /* Make the <strong> text appear on a new line */
    font-size: 1.2rem;
    font-weight: bold;
    color: #212d45;
    margin-bottom: 5px;
  }
  
  .contact-map {
    flex: 2;
    min-width: 300px;
    max-width: 600px;
  }